@font-face {
    src: url('../fonts/BalsamiqSans-Regular.ttf');
}



*{
	-fx-font-family: 'Balsamiq Sans';
	-fx-background-color: white;
}

.btn-style {
	-fx-background-image: url("/img/bgBorder.png");
    -fx-background-size: stretch,stretch;
	-fx-background-color: white;
	-fx-font-size: 75;
	-fx-font-color: black;
	-fx-alignment: center;
}

.btnQuit-style {
	-fx-font-weight: bold;
	-fx-background-insets: 1;
	-fx-border-width: 2 2 2 2;
}

.slider-style .track{
	-fx-background-color:black; 
	-fx-padding : 8;
}

.slider-style .thumb{
	-fx-background-color: black; 
	-fx-padding : 24;
}


.title-style {
	-fx-font-size: 150;
}

#gameBoard {
	-fx-background-image: url("/img/gameboard.jpg");
  /*  -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);  */
}

.pane{
	-fx-background-image: url("/img/backGround_Paper.jpg");
    -fx-background-size: stretch,stretch;
}


.h1 {
	-fx-font-size: 75;
	-fx-font-weight: bold;
}