@font-face {
    src: url('../fonts/BalsamiqSans-Regular.ttf');
}


*{
	-fx-font-family: 'Balsamiq Sans';
	/*-fx-background-color: white;*/
}

.btn-style {
	-fx-background-color: transparent;
	-fx-background-image: url("/img/btn_border.png");
    -fx-background-size: stretch,stretch;
	-fx-font-size: 65;
	-fx-font-color: black;
	-fx-alignment: center;
}

.btn-style:pressed{
	-fx-background-color: transparent;
	-fx-background-image: url("/img/btn_border_press.png");
    -fx-background-size: stretch,stretch;
}

.btnQuit-style {
	-fx-font-weight: bold;
	-fx-background-insets: 1;
	-fx-border-width: 2 2 2 2;
}

.btnSettings{
	-fx-background-color: transparent;
	-fx-background-image: url("/img/setting.png");
    -fx-background-size: stretch,stretch;
}


.arrowUp{
	-fx-background-color: transparent;
	-fx-background-image: url("/img/btn_arrow_up.png");
	-fx-background-size: stretch,stretch;
}

.arrowUp:pressed{
	-fx-background-color: transparent;
	-fx-background-image: url("/img/btn_arrow_up_press.png");
	-fx-background-size: stretch,stretch;
}

.arrowDown:pressed{
	-fx-background-color: transparent;
	-fx-background-image: url("/img/btn_arrow_down_press.png");
	-fx-background-size: stretch,stretch;
}

.arrowDown{
	-fx-background-color: transparent;
	-fx-background-image: url("/img/btn_arrow_down.png");
	-fx-background-size: stretch,stretch;
}

.slider{
	-fx-background-color: transparent;
}

.slider-style .track{
	-fx-background-color:black; 
	-fx-padding : 8;
}

.slider-style .thumb{
	-fx-background-color: black; 
	-fx-padding : 24;
}

.txtField{
	-fx-font-size: 25;
	-fx-border-color: black;
	-fx-border-width: 3px;
}


.title-style {
	-fx-font-size: 150;
}

.title2-style {
	-fx-font-size: 100;
}

.theme-subject{
	-fx-font-size: 50;
	-fx-border-radius: 10px;
	-fx-border-color: black;
	-fx-border-width: 3px;
}


.gameBoard {
	-fx-background-image: url("/img/gameBoard_V2.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);  
}

.pane{
	-fx-background-image: url("/img/backGround_Paper.jpg");
    -fx-background-size: stretch,stretch;
}

.addpane{
	-fx-background-color: transparent;
}
.h1 {
	-fx-font-size: 60;
	-fx-font-weight: bold;
}

.scroll-pane{
	-fx-background: transparent;
	-fx-background-color: transparent;
}

.scroll-pane .viewport {  
	-fx-background: transparent;
    -fx-background-color: transparent;
 
}

.txtAddPlayer{
	-fx-font-size: 40;
	-fx-background-color: transparent;
}

.basicText {
	-fx-font-size: 40;
	-fx-background-color: transparent;
}

.btn_small {
	-fx-background-color: transparent;
	-fx-background-image: url("/img/btn_border.png");
    -fx-background-size: stretch,stretch;
	-fx-font-size: 45;
	-fx-font-color: black;
	-fx-alignment: center;
}

.btn_small:pressed{
	-fx-background-color: transparent;
	-fx-background-image: url("/img/btn_border_press.png");
    -fx-background-size: stretch,stretch;
}

.cbbox {
	-fx-font-size: 25;
	-fx-border-color: black;
	-fx-border-width: 3px;
}

.lview {
	-fx-font-size: 25;
	-fx-border-color: black;
	-fx-border-width: 3px;
}