.btnQuit-style {
  	-fx-background-color: red;
	-fx-font-weight: bold;
	-fx-border-color:black;
	-fx-background-insets: 1;
	-fx-border-width: 2 2 2 2;
}

.btn-style {
	-fx-font-size: 18;
	-fx-alignment: center ;
}

.title-style {
	-fx-font-family: 'bauhaus 93';
	-fx-font-size: 50;
}